<div class="container" style="margin-top: 30px; width: 40%; left: 30%">
  <h1 class="text-center mb-4"><u>To Get Data</u></h1>
  <form #myform="ngForm" (ngSubmit)="onSubmit(mypost.value)">
    <div class="form-group">
      <label for="post">Enter Post ID (1 to 100)</label>
      <input
        class="form-control"
        type="number"
        name="post"
        id="post"
        placeholder="enter here"
        ngModel
        #mypost
      />
    </div>
    <div class="text-center">
      <button class="btn btn-primary">click here</button>
    </div>
  </form>
  <!-- <pre>{{ myform.value | json}}</pre> -->
</div>
<div
  class="col-md-10 offset-1"
  style="border: 2px solid black; margin-top: 80px; border-radius: 15px"
  *ngFor="let pos of post"
>
  <h3>PostID:-{{ pos.postId }}</h3>
  <h3>ID :-{{ pos.id }}</h3>
  <h3 class="mt-5 text-center pb-1" style="background-color: darkkhaki">
    <u>name</u>
  </h3>
  <h3>{{ pos.name }}</h3>
  <h3 class="mt-5 text-center pb-1" style="background-color: darkkhaki">
    <u>email</u>
  </h3>
  <h3>{{ pos.email }}</h3>
  <h3
    class="mt-5 text-center pb-1"
    style="background-color: rgb(218, 213, 146)"
  >
    <u>Post</u>
  </h3>
  <h3>{{ pos.body }}</h3>
</div>

<!-- 
<div
  class="col-md-10 offset-1 text-center"
  style="border: 5px solid rgb(124, 19, 19); margin-top: 80px; border-radius: 15px"
  *ngIf="post?.length == 0"
>
  <h3>enter a valid number</h3>
</div> -->