<div class="container" style="margin-top: 30px; width: 40%; left: 30%">
    <h1 class="text-center mb-4"><u>To Post Data</u></h1>
    <form #myform="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="post">Enter UserId</label>
        <input
          class="form-control"
          type="number"
          name="userId"
          id="userId"
          placeholder="enter here"
          [(ngModel)]="postdata.userId"
          #postid
        />
      </div>
      <div class="form-group">
        <label for="post">Enter Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="title"
          placeholder="enter here"
          [(ngModel)]="postdata.title"
          #title
        />
      </div>
      <div class="form-group">
        <label for="post">Enter Post</label>
        <input
          class="form-control"
          type="text"
          name="body"
          id="body"
          placeholder="enter here"
          [(ngModel)]="postdata.body"
          #body
        />
      </div>
      <div class="text-center">
        <button class="btn btn-primary">click here</button>
      </div>
    </form>
    </div>
